
* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 30px;
  padding: 0;
  font-family: 'Tahoma', sans-serif;

  /* border: 1px solid red; */

}

body {
  background-image: url('../images/museum_background.jpg');
  background-size: cover;
  background-position: center;
  color: #F4EFE3;
  line-height: 1.6;
}


header {
  background-color: #2f4f4f;
  padding-bottom: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Container for text */
.container {
  display: flex;
  padding-top: 50px;
  background-color: #2f4f4f;
  flex-direction: column;
  padding: 30px;
  max-width: 960px;
  margin: 40px auto;
  border-radius: 10px;
}

.intro {
  display: flex;
  justify-content: center;
}

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.col {
  padding: 10px;
  /*border: 1px dashed red;*/
}

.stacked .col {
  width: 100%;
}


/* Header and navigation */
header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

button {
  background-color: #f4a261;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e76f51;
}

/* Section styling */
.intro {
  display: flex;
}

.intro h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
}

/* Grid layout for info boxes */
.info-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.info-box {
  background-color: #dfeeea;
  color: #F4EFE3;
  padding: 20px;
  flex: 1;
  text-align: center;
  border-radius: 8px;
  height: 450px;
}

.collection-item {
  display: flex;
  background-color:#4A7C59;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.artifact-img {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.field-group {
  margin-bottom: 1.5rem;
}

.field-group p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.collection-item h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

.artifact-details h2 {
  width: 100%;
  margin-top: 0;
  font-size: 1.8rem;
  flex-basis: 100%;

  /* Footer */
.footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #3A4D3E;
  border-radius: 10px;
  margin-top: 2rem;
}

